body {
    font-family: "Courier New", Courier, monospace;
    margin: 0%;
    background-color: #f7f7f7;
  }
  main img {
    animation: 1s ease-out 0s 1 slideInFromLeft;
    transition: all 1s;
  }
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  main img:hover {
    transition: all 0.5s;
    transform: scale(1.2);
  }